@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}



<div class="row shadow-lg rounded-3 rounded-top" style="background-color: #155e75 ">

    <h1 class="card-header text-light">@ViewData["Title"]</h1>

   <div class="container">

        <form id="account" method="post">

            <hr />                             

            <div class="form-group text-light">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group text-light">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control border-left-0 border-right-0 border-top-0" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group text-light">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>

            <div class="form-group text-light">
                <button type="submit" class="btn btn-primary btn">Log in</button>
            </div>
            <div class="form-group text-light">
                <p >
                    <a class="text-light" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p >
                    <a class="text-light" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>
        </form>                     
   </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
