
@{
   Layout = "/Views/_MainLayout.cshtml";
}

@Html.Partial("~/Views/Shared/ListaOglasa.cshtml")

@Html.ActionLink("Click me", "About")

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>_ViewStart</title>
</head>
<body>
</body>
</html>
